# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/
.idea/markdown-navigator/
.idea/misc.xml
.idea/workspace.xml
app/.externalNativeBuild/
app/AppBuild.gradle
app/apk.gradle
app/build/
app/channels.txt
app/libs/
app/plugin.gradle
app/src/main/res/drawable-hdpi/
app/src/main/res/drawable-mdpi/
app/src/main/res/drawable-xhdpi/
app/src/main/res/drawable-xxhdpi/
app/src/main/res/drawable-xxxhdpi/
app/src/meizu/res/
app/src/xiaomiDebug/res/
app/version.properties
build/
buildsrc/.gradle/
buildsrc/build/
buildsrc/buildsrc.iml
libraries/debuglibrary/
libraries/javalib/.gitignore
libraries/javalib/libs/
libraries/releaselibrary/.gitignore
libraries/releaselibrary/libs/
libraries/releaselibrary/src/main/java/
libraries/releaselibrary/src/main/res/drawable/
otherapp/.gitignore
otherapp/libs/
otherapp/src/main/res/drawable/
pluginJar/
plugins/FirstPlugin/build.gradle
