<manifest
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@drawable/ok"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name="com.luhaibing.gradle_study.TestActivity"/>

    </application>

</manifest>
